:root {
  --border-gray: #D9D9D9;
  --banner-green: #D3F4B9;
  --banner-skyblue: #CCE3FF;
  --article-green: #84CDC0;
  --article-purple: #C0B6E7;
  --button-orange: #FEA143;
  --button-gray: #F2F2F2;
  --fontcolor-gray: #666666;
  --color-white: #FFFFFF;
}
